.mapWrapper {
  flex: 1;
  width: 100vw;
}

.mapContainer {
  height: 100%;
  width: 100%;
}

.addSlotBtn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: black;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.addSlotBtn svg {
  margin-right: 10px;
}

.tooltip {
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tooltip div {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.tooltip div div {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 1px grey; */
}

.d1 {
  background: #3A800D;
}

.d2 {
  background: black;
}

.d3 {
  background: #F83F37;
}